@font-face {
    font-family: 'Urbanist';
    src: url("../../../assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf"); /* local path */
}
@font-face {
    font-family: 'Urbanist Italic';
    src: url("../../../assets/fonts/Urbanist/Urbanist-Italic-VariableFont_wght.ttf"); /* local path */
}
/*  */

* {
    transition: color 0.2s;
    transition: background-color 0.2s;
    transition: border-color 0.2s;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Urbanist', sans-serif;
}

div#content {
    background-color: var(--surfaceContainerLow);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: background-color 0.2s;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    flex: 1 0 0;
    align-self: stretch;
}

div#page {
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;

    width: 100%;
    height: 100%;
}

div#QuickPicks > #qpcontent {
    display: flex;
    padding: 10px 5px;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;

    width: 100%;
    height: 100%;
}

div#QuickPicks {
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;

    border-radius: 20px;
    background: var(--surfaceContainer);

    width: 100%;
    height: 100%;
}


div#QuickPicks > #title {
    text-align: center;
    
    /* Huge */
    font-family: Urbanist;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--onSurface);
}

div#QuickPicks #functions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

div#QuickPicks #functions  #function {

    display: flex;
    padding: 5px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 7px;
    background: var(--secondaryContainer);

    color: var(--onSecondaryContainer);

    /* Large */
    font-family: Urbanist;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    transition: background-color 0.2s;
    transition: color 0.2s;
    transition: border-radius 0.2s;
}

div#QuickPicks #functions  #function:hover {
    background: var(--primaryContainer);
    color: var(--onPrimaryContainer);
    border-radius: 12px;

    transition: background-color 0.2s;
    transition: color 0.2s;
    transition: border-radius 0.2s;
}

div#QuickPicks #functions  #function:active {
    background: var(--primaryContainer);
    color: var(--onPrimaryContainer);
    border-radius: 0px;

    transition: background-color 0.2s;
    transition: color 0.2s;
    transition: border-radius 0.2s;
}
