@font-face {
    font-family: 'Urbanist';
    src: url("../../../assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf"); /* local path */
}
@font-face {
    font-family: 'Urbanist Italic';
    src: url("../../../assets/fonts/Urbanist/Urbanist-Italic-VariableFont_wght.ttf"); /* local path */
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Urbanist', sans-serif;
}
div#content {
    background-color: var(--surfaceContainerLow);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: background-color 0.2s;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    flex: 1 0 0;
    align-self: stretch;
}