/* This file will contain variables that any other css file can access */
/* This all variables will be dynamically set from js later */
:root {
    --primary_paletteKeyColor: #000;
    --secondary_paletteKeyColor: #000;
    --tertiary_paletteKeyColor: #000;
    --neutral_paletteKeyColor: #000;
    --neutral_variant_paletteKeyColor: #000;
    --background: #000;
    --onBackground: #000;
    --surface: #000;
    --surfaceDim: #000;
    --surfaceBright: #000;
    --surfaceContainerLowest: #000;
    --surfaceContainerLow: #000;
    --surfaceContainer: #000;
    --surfaceContainerHigh: #000;
    --surfaceContainerHighest: #000;
    --onSurface: #000;
    --surfaceVariant: #000;
    --onSurfaceVariant: #000;
    --inverseSurface: #000;
    --inverseOnSurface: #000;
    --outline: #000;
    --outlineVariant: #000;
    --shadow: #000;
    --scrim: #000;
    --surfaceTint: #000;
    --primary: #000;
    --onPrimary: #000;
    --primaryContainer: #000;
    --onPrimaryContainer: #000;
    --inversePrimary: #000;
    --secondary: #000;
    --onSecondary: #000;
    --secondaryContainer: #000;
    --onSecondaryContainer: #000;
    --tertiary: #000;
    --onTertiary: #000;
    --tertiaryContainer: #000;
    --onTertiaryContainer: #000;
    --error: #000;
    --onError: #000;
    --errorContainer: #000;
    --onErrorContainer: #000;
    --primaryFixed: #000;
    --primaryFixedDim: #000;
    --onPrimaryFixed: #000;
    --onPrimaryFixedVariant: #000;
    --secondaryFixed: #000;
    --secondaryFixedDim: #000;
    --onSecondaryFixed: #000;
    --onSecondaryFixedVariant: #000;
    --tertiaryFixed: #000;
    --tertiaryFixedDim: #000;
    --onTertiaryFixed: #000;
    --onTertiaryFixedVariant: #000;
}