/* This file will contain variables that any other css file can access */
/* This all variables will be dynamically set from js later */
:root {
    --primary_paletteKeyColor: #33846f;
    --secondary_paletteKeyColor: #637c73;
    --tertiary_paletteKeyColor: #5a7b90;
    --neutral_paletteKeyColor: #727875;
    --neutral_variant_paletteKeyColor: #6f7975;
    --background: #0f1512;
    --onBackground: #dee4e0;
    --surface: #0f1512;
    --surfaceDim: #0f1512;
    --surfaceBright: #343b38;
    --surfaceContainerLowest: #090f0d;
    --surfaceContainerLow: #171d1b;
    --surfaceContainer: #1b211f;
    --surfaceContainerHigh: #252b29;
    --surfaceContainerHighest: #303633;
    --onSurface: #dee4e0;
    --surfaceVariant: #3f4945;
    --onSurfaceVariant: #bfc9c4;
    --inverseSurface: #dee4e0;
    --inverseOnSurface: #2b322f;
    --outline: #89938e;
    --outlineVariant: #3f4945;
    --shadow: #000000;
    --scrim: #000000;
    --surfaceTint: #86d6be;
    --primary: #86d6be;
    --onPrimary: #00382c;
    --primaryContainer: #005141;
    --onPrimaryContainer: #a2f2d9;
    --inversePrimary: #0f6b57;
    --secondary: #b2ccc2;
    --onSecondary: #1d352e;
    --secondaryContainer: #344c44;
    --onSecondaryContainer: #cde9de;
    --tertiary: #a9cbe2;
    --onTertiary: #0e3446;
    --tertiaryContainer: #7495ab;
    --onTertiaryContainer: #000000;
    --error: #ffb4ab;
    --onError: #690005;
    --errorContainer: #93000a;
    --onErrorContainer: #ffdad6;
    --primaryFixed: #a2f2d9;
    --primaryFixedDim: #86d6be;
    --onPrimaryFixed: #002019;
    --onPrimaryFixedVariant: #005141;
    --secondaryFixed: #cde9de;
    --secondaryFixedDim: #b2ccc2;
    --onSecondaryFixed: #072019;
    --onSecondaryFixedVariant: #344c44;
    --tertiaryFixed: #c5e7ff;
    --tertiaryFixedDim: #a9cbe2;
    --onTertiaryFixed: #001e2d;
    --onTertiaryFixedVariant: #294b5e;
}