on: [push, pull_request]

jobs:
  create_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Read version number
        id: read_version
        run: echo "::set-output name=version::$(cat version.txt)"

      - name: Check for prerelease file
        id: check_prerelease
        run: |
          if [ -f prerelease ]; then
          echo "::set-output name=prerelease::true"
          else
          echo "::set-output name=prerelease::false"
          fi
      
      - name: Generate changelog
        id: generate_changelog
        run: |
          git fetch --tags
          TAGS=$(git tag)
          if [ -z "$TAGS" ]; then
          LAST_TAG=$(git rev-list --max-parents=0 HEAD)
          else
          LAST_TAG=$(git describe --tags --abbrev=0)
          fi
          LAST_TAG=$(git describe --tags --abbrev=0)
          echo "Last tag: $LAST_TAG"
          CHANGELOG=$(git log $LAST_TAG..HEAD --pretty=format:"* %s")
          echo "$CHANGELOG" > CHANGELOG.md
          echo "::set-output name=changelog::$CHANGELOG"

      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ steps.read_version.outputs.version }}
          release_name: Release ${{ steps.read_version.outputs.version }}
          prerelease: ${{ steps.check_prerelease.outputs.prerelease }}
          body: ${{ steps.generate_changelog.outputs.changelog }}
