on: [push, pull_request]

jobs:
  create_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Read version number
        id: read_version
        run: echo "::set-output name=version::$(cat version.txt)"

      - name: Check for prerelease file
        id: check_prerelease
        run: |
          if [ -f prerelease ]; then
          echo "::set-output name=prerelease::true"
          else
          echo "::set-output name=prerelease::false"
          fi
      
      - name: Generate changelog
        id: generate_changelog
        run: |
          if [ -f MOST_RECENT_CHANGELOG ]; then
          echo "::set-output name=changelog::$(cat MOST_RECENT_CHANGELOG)"
          else
          echo "::set-output name=changelog::No changelog found"
          fi

      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ steps.read_version.outputs.version }}
          release_name: Release ${{ steps.read_version.outputs.version }}
          prerelease: ${{ steps.check_prerelease.outputs.prerelease }}
          body: ${{ steps.generate_changelog.outputs.changelog }}
